# eventmap config for using xawtv with vdr
# contributed by Gregoire Favre <greg@ulima.unil.ch>

[eventmap]
kbd-key-Return = vdr "HITK" "Ok"
kbd-key-Up = vdr "HITK" "Up"
kbd-key-Down = vdr "HITK" "Down"
kbd-key-M = vdr "HITK" "Menu"
kbd-key-Return = vdr "HITK" "Ok"
kbd-key-BackSpace = vdr "HITK" "Back"
kbd-key-Left = vdr "HITK" "Left"
kbd-key-Right = vdr "HITK" "Right"
kbd-key-F1 = vdr "HITK" "Red"
kbd-key-F2 = vdr "HITK" "Green"
kbd-key-F3 = vdr "HITK" "Yellow"
kbd-key-F4 = vdr "HITK" "Blue"
kbd-key-KP_0 = vdr "HITK" "0"
kbd-key-KP_1 = vdr "HITK" "1"
kbd-key-KP_2 = vdr "HITK" "2"
kbd-key-KP_3 = vdr "HITK" "3"
kbd-key-KP_4 = vdr "HITK" "4"
kbd-key-KP_5 = vdr "HITK" "5"
kbd-key-KP_6 = vdr "HITK" "6"
kbd-key-KP_7 = vdr "HITK" "7"
kbd-key-KP_8 = vdr "HITK" "8"
kbd-key-KP_9 = vdr "HITK" "9"
kbd-key-F5 = vdr "HITK" "Play"
kbd-key-F6 = vdr "HITK" "Pause"
kbd-key-F7 = vdr "HITK" "Stop"
kbd-key-R = vdr "HITK" "Record"
kbd-key-F12 = vdr "HITK" "FastFwd"
kbd-key-F11 = vdr "HITK" "FastRew"
kbd-key-P = vdr "HITK" "Power"
kbd-key-F9 = vdr "HITK" "Channel+"
kbd-key-F10 = vdr "HITK" "Channel-"
kbd-key-KP_Add = vdr "HITK" "Volume+"
kbd-key-KP_Subtract = vdr "HITK" "Volume-"
kbd-key-$ = vdr "HITK" "Mute"
kbd-key-S = vdr "HITK" "Schedule"
kbd-key-C = vdr "HITK" "Channels"
kbd-key-T = vdr "HITK" "Timers"
kbd-key-G = vdr "HITK" "Recordings"
kbd-key-X = vdr "HITK" "Setup"
kbd-key-V = vdr "HITK" "Commands"
kbd-key-N = vdr "HITK" "None"
