*.dep
*.o
*.so
.pc/
arch-i686-linux/
arch-x86_64-linux/
autom4te.cache/
config.h
config.log
config.status
configure
console/dump-mixers
console/fbtv
console/radio
console/record
console/scantv
console/showqt
console/showriff
console/streamer
console/ttv
console/v4l-conf
console/v4l-info
console/webcam
debug/xvideo
libng/libng.a
libng/plugins/drv0-v4l2.c.orig
man/v4l-conf.8.orig
mk/console_fbtv.tmp
mk/console_ttv.tmp
mk/libng_plugins_read-dv.tmp
mk/libng_plugins_write-dv.tmp
vbistuff/about.html.h
vbistuff/alevt.css.h
vbistuff/alevtd
vbistuff/bottom.html.h
vbistuff/ntsc-cc
vbistuff/top.html.h
x11/motv
x11/MoTV.ad
x11/MoTV.de.ad
x11/MoTV.de_DE.UTF-8.ad
x11/MoTV.fr.ad
x11/MoTV.h
x11/MoTV.it.ad
x11/mtt
x11/mtt.h
x11/pia
x11/propwatch
x11/rootv
x11/v4lctl
x11/xawtv
x11/Xawtv.h
x11/xawtv-remote
patches/
